[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
pandas = "*"
pyreadr = "*"
numpy = "*"
scrapy = "*"
sentence-transformers = "*"
flake8 = "*"
matplotlib = "*"
spacy = "*"
spacytextblob = "*"
dash = "*"
faiss-cpu = "*"
faiss-gpu = "*"
beautifulsoup4 = "*"
nltk = ">=3.6.4"
dash-bootstrap-components = "*"
flair = "*"
lxml = ">=4.6.5"

[requires]
python_version = "3.9"
