[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
pandas = "*"
pyreadr = "*"
numpy = "*"
sentence-transformers = "*"
flake8 = "*"
matplotlib = "*"
spacy = "*"
spacytextblob = "*"
dash = "*"
faiss-cpu = "*"
faiss-gpu = "*"
beautifulsoup4 = "*"
nltk = ">=3.6.4"
dash-bootstrap-components = "*"
flair = "*"
lxml = ">=4.6.5"
ipython = ">=7.31.1"
twisted = ">=22.4.0rc1"
Pillow = ">=9.0.1"
scrapy = ">=2.6.0"
celery = {extras = ["redis"], version = "*"}

[requires]
python_version = "3.9"
