.arg-list-pane {
  float: left;
  width: 40%;
  height: 85vh;
  border-right: 5px solid rgb(32, 87, 158);
  border-left: 5px solid rgb(32, 87, 158);
}

.arg-list-box {
  border-bottom: 5px solid rgb(32, 87, 158);
  height: 55%;
  overflow-x: hidden;
  overflow-y: scroll;

}
.arg-container {
  font-size: large;
  padding-left: 2px;
  overflow: hidden;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

ul > *:hover {
  background-color: rgb(238, 238, 238);
  /* cursor: pointer; */
}

ul {
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  height: 90%
}
