#label-pane {
  float: left;
  width: 33%;
  height: 85vh;
  border-right: 5px solid rgb(32, 87, 158);
}

#label-box{
  border-bottom: 5px solid rgb(32, 87, 158);
  height: 55%;
  overflow-y: hidden;
}

.label-container {
  font-size: large;
  height: 10%;
  padding-left: 2px;
  overflow: hidden;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd
}

.label-remove-btn {
  float: right;
}



#algo-box{
  font-size: medium;
}
